.stories {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  border: 1px solid lightgray;
  height: 120px;
  align-items: center;
}

.stories__story {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.stories__image {
  width: 60px;
  height: 60px;
}
